<template>
<div>
<section id="sec" v-bind:style="{'max-height': height }">
    <h1>Beskrivning</h1>
    <p>En stor sammanhängande ganska fyrkantig&nbsp;yta på 876 kvm. Möjligheter att anpassa lokalen&nbsp;efter olika
        verksamheter. Otroligt effektiv lokal,&nbsp;luft för...</p>
    <p>En stor sammanhängande ganska fyrkantig&nbsp;yta på 876 kvm. Möjligheter att anpassa lokalen&nbsp;efter olika
        verksamheter. Otroligt effektiv lokal,&nbsp;luft för 100 arbetsplatser eller låga 8,76 kvm/arbetsplats. Kan även
        hyras för utförsäljningar eller pop-up butiker. I Alviks Strand har du som hyresgäst möjlighet att hyra lokaler
        på två sätt: SMALL – Flexibelt avtal med en fast månadskostnad där det mesta ingår, såsom fastighetsskatt, värme
        &amp; kyla, sophantering och el – för en fast månadskostnad. Detta hyreskontrakt skrivs utan besittningsskydd.
        LARGE – Lokalen anpassas efter era behov i samråd med hyresvärden. Tre- till femårigt hyresavtal tecknas på
        marknadsmässiga villkor med besittningsskydd. För den sportiga finns många alternativ; Springa/simma på lunchen,
        cykla till jobbet, World Class och SATS på vägen till och från kollektivtrafik samt tennis i Salkhallen som
        ligger runt knuten. Att ta sig till och från Alviks Strand är lätt. Tvärbanan stannar alldeles intill kontoret
        och tunnelbanans gröna linje ligger på fem minuters promenadavstånd. Dörr till dörr är det knappt 20 minuter
        till T-centralen. På sommaren kan du dessutom ta vår eldrivna båt E/S Movitz, http://movitz.info/ , till jobbet
        - helt gratis.</p>
        <a class="effect"  href="#sec" @click="showMore" v-if="!isReadMore"><span class="text">Läs mer</span></a>
        <a  href="#sec" @click="showLess" v-if="isReadMore"><span class="text">Mindre</span></a>

</section>


</div>
</template>

<script>
export default {
  data() {
    return {
      height:'240px',
      isReadMore:false,
    };
  },
  methods: {
    showMore() {
      this.height = 'none';
      this.isReadMore=true;
    },
    showLess() {
      this.height = '240px';
      this.isReadMore=false;
    },
  },
};
</script>
<style scoped>
section {
color: #4a4a4a;
font-family: FaktPro, sans-serif;
font-size: 14px;
margin-top: 0px;
overflow: hidden;
padding-top: 0px;
position: relative;
width: 600px;
}
p{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
   position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 3em;
    text-decoration: none;
    text-align: right;
    color: rgb(11, 161, 116);
    cursor: pointer;
}
.effect {
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 32%, white 70%, white 100%);
}
</style>
