<template>
        <read-more />
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import ReadMore from '../components/ReadMore.vue'

export default {
  components: {
    ReadMore
  }
}
</script>
